<%= form_tag "/movies", method: "get" do %>
  <div class="row">
    <div class="col s12 input-field">
      <%= search_field_tag :movie %>
      <%= label_tag :movie %>
    </div>
  </div>

  <div class="row">
    <div class="action col s6">
      <%= button_tag :search, class: "wave-effect wave-light btn blue accent-1" %>
    </div>
  </div>
<% end %>
