<div class="col s2">
  <% if @queries.blank? %>
    <h5>Nessuna ricerca eseguita</h5>
  <% else %>
    <h5>Ricerce recenti</h5>
    <% @queries.each do |q| %>
      <%= link_to query_path(q) do %>
        <p><%= q.query %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
