<%= render 'query_search' %>

<div class="row center-align">
  <div class="col s10 l8">
    <% if @queries.blank? %>
      <em><h4>No queries to show.</h4></em>
    <% else %>
      <em><h5>Showing <%= pluralize(@queries.count, "query") %>.</h5></em>
    <% end %>
  </div>
</div>

<%= render 'query_grid' %>
