<div class="row">
  <div class="row">
    <div class="col s12">
      <%= link_to "Sign in with Google", user_google_omniauth_authorize_path, class: "wave-effect wave-light btn red" %>
    </div>
  </div>
</div>
